<form>
    IdUser : <br>
    <input type="text" name="codeClt" id="codeClt" [(ngModel)]= "client.codeClt"><br>
    Name : <br>
    <input type="text" name="raisonSocial" id="raisonSocial" [(ngModel)]= "client.raisonSocial"><br>
    Email : <br>
    <input type="text" name="adresse" id="adresse" [(ngModel)]= "client.adresse"><br>
    Password : <br>
    <input type="text" name="tel" id="tel" [(ngModel)]= "client.tel"><br>
    <button (click)="save()">Save</button>
  </form>




  NEW
  <app-produit></app-produit>